In [30]:
# Missing value ratio
import numpy as np
import pandas as pd
from pandas import read_csv
from numpy import set_printoptions
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, Normalizer

#load your data into a dataframe

header_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
my_data = read_csv("../data/pima_indians_diabetes_2.csv", names=header_names)

#get the data dimension of the dataframe
print(my_data.shape)
print("tets")

(771, 9)
tets

In [31]:
my_data

     preg   plas  pres  skin   test  mass   pedi   age  class
0       6  148.0  72.0    35    0.0  33.6  0.627  50.0      1
1       1   85.0  66.0    29    0.0  26.6  0.351  31.0      0
2       8  183.0  64.0     0    0.0  23.3  0.672  32.0      1
3       1   89.0  66.0    23   94.0  28.1  0.167  21.0      0
4       0  137.0  40.0    35  168.0  43.1  2.288  33.0      1
..    ...    ...   ...   ...    ...   ...    ...   ...    ...
766     2    NaN  70.0    27    0.0  36.8  0.340  27.0      0
767     5    NaN  72.0    23  112.0  26.2  0.245  30.0      0
768     1    NaN  60.0     0    0.0  30.1  0.349  47.0      1
769     1    NaN  70.0    31    0.0  30.4  0.315  23.0      0
770     2    NaN  58.0    26    NaN  28.4  0.766   NaN      0

[771 rows x 9 columns]

In [32]:
#get rows with empty values from the data framexxx
empty_value_data = my_data[my_data.isna().any(axis=1)]
print(empty_value_data)

     preg   plas  pres  skin   test  mass   pedi   age  class
440     2  120.0   NaN    26   16.0  36.8  0.766  22.0      0
661     2  120.0  58.0    26   16.0   NaN  0.766  22.0      0
763     9    NaN  74.0    31    0.0  44.0  0.403  43.0      1
764     9    NaN  62.0     0    0.0  22.5  0.142  33.0      0
765    10    NaN  76.0    48  180.0  32.9  0.171  63.0      0
766     2    NaN  70.0    27    0.0  36.8  0.340  27.0      0
767     5    NaN  72.0    23  112.0  26.2  0.245  30.0      0
768     1    NaN  60.0     0    0.0  30.1  0.349  47.0      1
769     1    NaN  70.0    31    0.0  30.4  0.315  23.0      0
770     2    NaN  58.0    26    NaN  28.4  0.766   NaN      0

In [33]:
print("\n-----Empty rows-----\n")
print(len(empty_value_data))

-----Empty rows-----

10

In [58]:
# What proportion of each column contains a missing value?
#count rows with missing values / total rows multiply by 100
#len(perc_missing)/len(my_data) multiply by 100
perc_missing = my_data.isnull().sum()/len(my_data)*100
print(f"\n----- Percent Missing-----\n{perc_missing}")

----- Percent Missing-----
preg     0.000000
plas     1.037613
pres     0.129702
skin     0.000000
test     0.129702
mass     0.129702
pedi     0.000000
age      0.129702
class    0.000000
dtype: float64

In [66]:
new_box = my_data[my_data['test'] > 30]
#print(len(new_box))
#print(new_box)
#print(my_data[my_data.isnull().any(axis=1)])

print(my_data[my_data.isnull().any(axis=1)])

     preg   plas  pres  skin   test  mass   pedi   age  class
440     2  120.0   NaN    26   16.0  36.8  0.766  22.0      0
661     2  120.0  58.0    26   16.0   NaN  0.766  22.0      0
763     9    NaN  74.0    31    0.0  44.0  0.403  43.0      1
764     9    NaN  62.0     0    0.0  22.5  0.142  33.0      0
765    10    NaN  76.0    48  180.0  32.9  0.171  63.0      0
766     2    NaN  70.0    27    0.0  36.8  0.340  27.0      0
767     5    NaN  72.0    23  112.0  26.2  0.245  30.0      0
768     1    NaN  60.0     0    0.0  30.1  0.349  47.0      1
769     1    NaN  70.0    31    0.0  30.4  0.315  23.0      0
770     2    NaN  58.0    26    NaN  28.4  0.766   NaN      0

In [39]:
new_box['test'].replace({0:5}, inplace=True)

C:\Users\5akena74\AppData\Local\Temp\ipykernel_14324\658143844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_box['test'].replace({0:5}, inplace=True)

In [78]:
#saving column names in a variable


var = []

for i in range(0,9):
    if perc_missing[i]<=25: #Set the missing threshold to 25%
        var.append(header_names[i])
print(var)

['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [83]:
#Low variance filter

#Load your data into a dataframe
#This has been done already above
#Get the data dimension of the data frame
print(my_data.shape)

#get the row with empty values from the actual data frame
#done in previous sell

#use the SimpleImputer function to replace missing values
imputer = SimpleImputer(strategy='most_frequent') #replace most_frequent with median, mean and observe
imputer.fit(my_data)
my_new_data = imputer.transform(my_data)

#load data back in a data frame
my_data = pd.DataFrame(my_new_data, columns=)

(771, 9)
SimpleImputer(strategy='most_frequent')